.colo-1 {
	background-color: $gray;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none solid rgb((63), 66, 84);
	text-align: left;
	word-spacing: 0%;
	line-height: 19.5px;
}

.welcome {
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 28.8px;
	text-decoration: none solid rgb((63), 66, 84);
	text-align: left;
	word-spacing: 0px;
	color: #ffffff;
}

@media screen and (max-width: 992px) {
	#welcomee {
		min-height: 25vh;
	}
	.logiin {
		margin-top: -5.02rem;
	}
}
@media screen and (min-width: 992px) and (max-width: 2026px) {
	#welcomee {
		min-height: 100vh;
	}
}
